<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author_email }}">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    
    <title>{{ page_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include 'ga.html' %}

</head>

<body>

    {% include 'nav.html' %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ page_title }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h2>
                    The best way to reach us is via e-mail at <a href="mailto:kis@kellogg.northwestern.edu">kis@kellogg.northwestern.edu</a>.
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2>Help Me Choose</h2>
                <p>You may not be sure what new computer system is right for you, and that's okay. KIS can help.</p>
                <p>Take a look at this rubric of our most frequent use-cases and choices for them.</p>
                <ul>
                    <li><strong>World Traveler</strong> - The <a href="X1Carbon6thGen.html">X1 Carbon</a> is prized by faculty who teach and consult in all corners of the world, and have learned the hard way that every pound counts.</li>
                    <li><strong>Annotators and Chalkboard Aficionados</strong> - Tablet laptops, like the <a href="X1Yoga3rdGen.html">X1 Yoga</a>, give you the ability to annotate on PDFs, PowerPoint slides, OneNote and Evernote notebooks, and any other application that supports drawing. The ecosystem of tablet-enabled apps is robust and stable, letting you break free from the constraints of keyboard and mouse. When teaching, writing an equation or figure with your hand sure beats typing out the LaTeX.</li>
                    <li><strong>Cost-conscious Office Wizard</strong> - If you live and breathe Office apps like Word, Powerpoint, and Excel, do research on the web, and little else, then the <a href="T480s.html">T480s</a> will fit your needs for the long haul. This is the latest in a long line of T-series laptops, which have been the stalwart of the Kellogg faculty and staff community. It's light, powerful, sturdy, looks great, all for about $2K. This is our most popular laptop.</li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <h2>Custom, non-standard PCs</h2>
                <p>You may have a special use-case that doesn't neatly fit into one of the standard models we recommend. KIS still wants to play a role in helping you find a great fit.</p>
                <ul>
                    <li><strong>Big budget, Maximum computational horsepower</strong> - We want to make sure you spend your funds wisely, optimizing for the kind of computations you're performing in your research. Some work involves large volumes of file data and requires large, fast disk arrays, while other work might require high levels of parallelism and derives greater gains from a CPU with a large number of cores and a lot of RAM. We work with specialists from <a href="https://www.kellogg.northwestern.edu/rs/" target="_blank">Kellogg Research Support</a> to find what that sweet spot is, and we work with our CDWG sales reps to build a workstation within your budget.</li>
                    <li><strong>Limited budget</strong> - We're aware that the prices of the recommended laptops may cause some faculty with limited budgets to balk, and you may feel that the devices are overpowered for your needs. We can consult with you on your functional needs and your budget limitations, finding something that maximizes reliability and value staying under your price point.</li>
                    <li><strong>Ergonomic accessories</strong> - We champion conformity of technology to you, not the other way around. If this equipment doesn't feel right, we can help you find accessories that do. We have worked with many faculty over the years, recommending special displays, keyboard, mice, and other input devices that reduce physical stress and cater to your productivity needs. We also recommend getting a workstation evaluation with the ergonomic specialists at <a href="http://www.northwestern.edu/risk/services/work-station-evaluation.html" target="_blank">Northwestern's Office of Risk Management</a>.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2>Apple Laptops, Desktops, and Tablets</h2>
                <p>As any fan of Apple computers knows, there is no one-size-fits-all. KIS wants to be a part of helping you put this order together, to make sure that important details like the AppleCare warranty and sufficiently powerful components are included. We can advise on whether to order from Apple or CDWG, depending on level of urgency and whether you want to be able to return the device (Apple direct orders do not allow returns). Since Kellogg is primarily a Windows environment, we can also advise on how to maximize compatibility with the systems you integrate with here.</p>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Kellogg Information Systems 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer> 
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
</body>

</html>
