<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author_email }}">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    
    <title>{{ page_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% include 'ga.html' %}

</head>

<body>

    {% include 'nav.html' %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ product_name }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <!-- 750x500 -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for carousel_image in carousel_images %}
                        <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for carousel_image in carousel_images %}
                        <div class="item{% if loop.first %} active{% endif %}">
                            <img class="img-responsive" src="{{ carousel_image }}" alt="{{ product_name }}" style="width:100%;">
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Description</h3>
                        <p>{{ description_long }}</p>
                    </div>                
                    <div class="col-md-12">
                        <h3>Highlights</h3>
                        <ul>
                            {% for highlight in highlights %}
                            <li>{{ highlight }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        
        <div class="row">
            <!-- Specifications Row -->
            <div class="col-md-8">
                <h3>Specifications</h3>
                <ul>
                    {% for specification in specifications %}
                    <li><strong>{{ specification.name }}</strong>: {{ specification.detail }}</li>
                    {% endfor %}
                </ul>            
            </div>
            <!-- Reviews Row -->
            <div class="col-md-4">
                <h3>Independent Reviews</h3>
                <ul>
                    {% for review in reviews %}
                    <li><a href="{{ review.href }}" target="_blank">{{ review.source }}</a> - {{ review.summary }}</li>
                    {% endfor %}
                </ul>
            </div>            
        </div>
        
        <!-- Additional Links Row -->
        <div class="row">
        
            <div class="col-md-12">
                <h3>Additional Links</h3>
                <ul>
                    {% for link in additional_links %}
                    <li><a href="{{ link.href }}" target="_blank">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>

        <!-- Compatible Power Plug Row -->
        <div class="row">            
            <div class="col-md-12">
                <h3>Compatible Power Plug - {{ compatible_power_plug.name }}</h3>
                <img class="img-responsive" src="{{ compatible_power_plug.image_href }}" alt="{{ compatible_power_plug.name }}">
            </div>
        </div>
        
        {% if video_ports %}
        <!-- Video Output Ports Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Available Video Output Ports</h3>
            </div>
            {% for port in video_ports %}
            <div class="col-sm-4 col-xs-12"> 
                <img class="img-responsive portfolio-item" src="{{ port.image_href }}" alt="{{ port.name }}">
                <h4>{{ port.name }}</h4>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Compatible Accessories Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Compatible Accessories</h3>
            </div>

            {% for accessory in compatible_accessories %}
            <div class="col-sm-4 col-xs-12">
                <a href="{{ accessory.cdwg_href }}" target="_blank">
                    <img class="img-responsive portfolio-item" src="{{ accessory.image_href }}" alt="{{ accessory.name }}">
                </a>
                <a href="{{ accessory.cdwg_href }}" target="_blank">
                    <h4>{{ accessory.name }}</h4>
                </a>
            </div>
            {% endfor %}
            
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ cdwg_href }}" target="_blank">For KIS Use Only - CDW Cart Link</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Kellogg Information Systems 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer> 
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
