    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Faculty Recommendations</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="X1Carbon6thGen.html">X1 Carbon 6th Gen</a>
                    </li>
                    <li>
                        <a href="X1Yoga3rdGen.html">X1 Yoga 3rd Gen</a>
                    </li>
                    <li>
                        <a href="T480s.html">T480s</a>
                    </li>
                    <li>
                        <a href="P320.html">P320 Desktop</a>
                    </li>
                    <li>
                        <a href="consulting.html">Consulting</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../staff/">Staff Recommendations</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>