<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author_email }}">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    
    <title>{{ page_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include 'ga.html' %}

</head>

<body>

    {% include 'nav.html' %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ page_title }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h2>
                    The best way to reach us is via e-mail at <a href="mailto:kis@kellogg.northwestern.edu">kis@kellogg.northwestern.edu</a>.
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2>Help Me Choose</h2>
                <p>You may not be sure what new computer system is right for you, and that's okay. KIS can help.</p>
                <p>Take a look at this rubric of our most frequent use-cases and choices for them.</p>
                <ul>
                    <li><strong>Meeting Ninja / Frequent Collaborator</strong> - If more than one person is huddled around your laptop more often than not, or you're in meetings more than you're at your own desk, or you simply would like to change up how you use your computer, the <a href="X380Yoga.html">X380 Yoga</a> tablet / laptop convertible should be a strong contender. Meant to be used with stylus, touch, as well as traditional keyboard and mouse fluidly, it's great when you're working through a tough problem and need your computer to be flexible with you.</li>
                    <li><strong>Most Staff</strong> - Most staff should get the <a href="T480s.html">T480s</a> laptop. Continuing our push from 2017-18, we are pushing for replacing desktop computers for staff as much as possible. With the high speed and low weight of these laptops, our ability to encrypt the hard drives with no loss of performance, and the ability to set up a laptop as a full desktop replacement (with dual monitors, even), it makes a lot of sense to phase out desktops. If you have any questions about this, we're happy to talk.</li>
                    <li><strong>Kiosk / front desk</strong> - If you're looking for the right system for a front desk area in your department, which may have different people using a single computer, or the single person who does use it won't be taking work home, then it makes sense to get the compact <a href="M910q.html">M910q Tiny</a> desktop. This frees up a lot of floor space for people's legs, reduces cable clutter by being on the same surface as the monitor / keyboard / mouse, and has a relatively tiny price to match the tiny footprint.</li>
                </ul>
            </div>
        </div>
        

        <div class="row">
            <div class="col-lg-12">
                <h2>Apple Laptops, Desktops, and Tablets</h2>
                <p>As any fan of Apple computers knows, there is no one-size-fits-all. KIS wants to be a part of helping you put this order together, to make sure that important details like the AppleCare warranty and sufficiently powerful components are included. We can advise on whether to order from Apple or CDWG, depending on level of urgency and whether you want to be able to return the device (Apple direct orders do not allow returns). Since Kellogg is primarily a Windows environment, we can also advise on how to maximize compatibility with the systems you integrate with here.</p>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Kellogg Information Systems 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer> 
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
</body>

</html>
